.usersWrapper{
    max-height: 300px;
    width: 200px;
    overflow: auto;
}

.userItem{
    height:35px;
    cursor: pointer;
    margin: 0 0 7px !important;
}

.shared{
    background: rgb(218, 255, 187) !important;
}

.usersHeader{
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;
}
