:global(.ui.modal) {
  >:global(.header).header {
    display: flex;
    justify-content: space-between;
  }
}

.emailShareWrapper{
  text-align: center;
  margin-top: 10px;
}

:global(.ui.basic.label).emailShare{
  border: none;
  color: #00b5ad
}
