.headerWrp {
  display: flex;
  background-color: white;
  padding: 1em 0 1em;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  color: black;
  font-weight: 700;
  font-size: 1.2em;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.status{
  color: rgba(0,0,0,.6);
  font-size: .75em;
}

:global(.ui.basic.label).editStatus{
  border: none;
}

:global(.ui.form .field).statusArea{
  margin: 0 0 .5em;
}

:global(.ui.form) .statusArea textarea{
  resize: none;
}

.controlsWrap{
  display: flex;
  justify-content: space-between;
}

:global(.ui.icon.button).control{
  font-size: 0.8em;
}
