.toolbarWrapper{
    margin-top: 10px;
}

.textAreaWrapper{
    width: 400px;
    margin: 10px auto;
}

:global(.ui.icon.button).toolbarBtn + :global(.ui.icon.button).toolbarBtn{
    margin-left: 20px;
}
:global(.ui.icon.button).toolbarBtn i:global(.icon){
    margin-right: 5px !important;
}
