.toolbarWrapper{
    margin-top: 10px;
}
:global(.ui.icon.button).toolbarBtn + :global(.ui.icon.button).toolbarBtn{
    margin-left: 20px;
}
:global(.ui.icon.button).toolbarBtn i:global(.icon){
    margin-right: 5px !important;
}

.cropWrapper{
    margin: 10px auto;
    max-width: 400px;
}

.backToolWrapper{
    text-align: left;
}

.textAreaWrapper{
    width: 400px;
    margin: 10px auto;
}
