:global(.ui.basic.label).toolbarBtn {
  border: none
}

:global(.ui.basic.label).toolbarBtn.react {
  color:#2185d0;
}

:global(.ui.grid .row .column).editToolbar{
  margin-right: -1em;
}

:global(.ui.basic.label).editBtn{
  padding: 5px;
  border: none
}
