.imageContainer {
  width: 400px;
  margin: 0 auto 10px;
}

.imageWrapper {
  margin-bottom: 10px;
}

:global(.ui.image).image {
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.btnImgLabel {
  margin: 0 0 0 10px;
}
