:global(.ui) {
  .comment {
    overflow: auto;
  }
}

:global(.ui.basic.label).editComment{
  padding: 0px;
  border: none
}

.btnWrapper{
  margin-left: 15px !important;
}

:global(.ui.basic.label).toolbarBtn{
  padding: 5px;
  border: none
}

.status{
  display: inline-block;
  color: rgba(0,0,0,.6);
  font-size: .875em;
}
