:global(.ui) {
  .comment {
    overflow: auto;
  }
}

:global(.ui.basic.label).editComment{
  padding: 0px;
  border: none
}

.btnWrapper{
  margin-left: 15px !important;
}

:global(.ui.segment).formWrapper{
  margin: 0 ;
  border: none;
  box-shadow: none;
}
